@{
    Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="jumbotron">
    <h1>Machine Details</h1>
</div>

<div class="machineStyle">
<h2>Machine Name: @Html.DisplayFor(model => model.MachineName)</h2>
<h2>Machine Description: @Html.DisplayFor(model => model.MachineDescription)</h2>
<h2>Machine Status: @Html.DisplayFor(model => model.MachineStatus)</h2>
<h2>Inspection Date: @Html.DisplayFor(model => model.InspectionDate)</h2>
</div>

<hr style="width:80%" />
<div class="machineStyle">
@if (@Model.Engineers.Count == 0)
{
    <h3 class="none">This machine is currently not licensed to any engineers.</h3>
}
else
{
    <h3>Licensed Engineers:</h3>
    <ul>
    @foreach (var join in Model.Engineers)
        {
            <li>@join.Engineer.EngineerName</li>
        }
    </ul>
}

<hr style="width:80%"/>

<ul>
@foreach(var join in Model.Engineers)
{
    <li>Do you want to delete: @join.Engineer.EngineerName ?</li>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete" class="btn btn-danger"/>
    }
}
</ul>
</div>
<hr style="width:80%"/>

<div class="links">
    <h3>Navigation Links</h3>
    <hr style="width:80%"/>
    <h4>@Html.ActionLink("Assign Engineer", "AddEngineer", new { id = Model.MachineId })</h4>
    <h4>@Html.ActionLink("Edit Details", "Edit", new { id = Model.MachineId })</h4>
    <h4>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</h4>
    <hr style="width:80%"/>
    <h4>@Html.ActionLink("Machine List", "Index")</h4>
    <h4>@Html.ActionLink("Engineer List", "Index", "Engineers")</h4>
    <h4>@Html.ActionLink("Home Page", "Index", "Home")</h4>
</div>