@{
    Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="jumbotron">
    <h1>Edit Machine Details</h1>
</div>

<div class="machineStyle">
    <h2>Machine Name: @Html.DisplayFor(model => model.MachineName)</h2>
</div>

<hr style="width:80%" />
<div class="machineStyle">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.MachineId)

        <h3>Machine Name: @Html.EditorFor(model => model.MachineName)</h3>
        <h3>Machine Description: @Html.EditorFor(model => model.MachineDescription)</h3>
        <h3>Machine Status:</h3>
        <h4>@Html.RadioButtonFor(model => model.MachineStatus, "Operational") Operational</h4>
        <h4>@Html.RadioButtonFor(model => model.MachineStatus, "Malfunctioning") Malfunctioning</h4>
        <h4>@Html.RadioButtonFor(model => model.MachineStatus, "Under Repair") Under Repair</h4>
        <h3>@Html.Label("Engineers") @Html.DropDownList("EngineerId")</h3>

        <input type="submit" value="Save" class="btn btn-success" />
    }
</div>

<hr style="width:80%" />
<div class="links">
    <h3>Navigation Links</h3>
    <hr style="width:80%" />
    <h4>@Html.ActionLink("Machine List", "Index")</h4>
    <h4>@Html.ActionLink("Home Page", "Index", "Home")</h4>
</div>