@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="jumbotron">
    <h1>Add New Engineer</h1>
</div>
<div class="engineStyle">
    @using (Html.BeginForm())
    {
        <h3>Engineer Name: @Html.TextBoxFor(model => model.EngineerName)</h3>
        <h3>Engineer Status: </h3>
        <h4>@Html.RadioButtonFor(model => model.EngineerStatus, "Idle") Idle</h4>
        <h4>@Html.RadioButtonFor(model => model.EngineerStatus, "Active") Active</h4>
        <h3>License Renewal Date: @Html.TextBoxFor(model => model.LicenseRenewalDate, "{0:yyyy-MM-dd}", new {type="date"})
        </h3>
        <input type="submit" value="Add Engineer" class="btn btn-primary">
    }
</div>
<hr style="width:80%" />
<div class="links">
    <h3>Navigation Links</h3>
    <hr style="width:80%" />
    <h4>@Html.ActionLink("Engineer List", "Index")</h4>
    <h4>@Html.ActionLink("Home Page", "Index", "Home")</h4>
</div>