@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="jumbotron">
    <h1>Engineer Details</h1>
</div>
<div class="engineStyle">
<h2>Engineer Name: @Html.DisplayFor(model => model.EngineerName)</h2>
<h2>Engineer Status: @Html.DisplayFor(model => model.EngineerStatus)</h2>
</div>

<hr style="width:80%" />

<div class="engineStyle">
@if (@Model.Machines.Count == 0)
{
    <h3>This engineer is currently not licensed to any machines.</h3>
}
else
{
    <h3>Licensed Machines:</h3>
    <ul>
    @foreach (var join in Model.Machines)
        {
            <li>@join.Machine.MachineName</li>
        }
    </ul>
}

<hr style="width:80%"/>

<ul>
@foreach(var join in Model.Machines)
{
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <li>Remove Machine: @join.Machine.MachineName  <input type="submit" value="Delete" class="btn btn-danger"/> </li>
    }
}
</ul>
</div>

<hr style="width:80%"/>
<div class="links">
    <h3>Navigation Links</h3>
       <hr style="width:80%" />
    <h4>@Html.ActionLink("Assign Machine", "AddMachine", new { id = Model.EngineerId })</h4>
    <h4>@Html.ActionLink("Edit Details", "Edit", new { id = Model.EngineerId })</h4>
    <h4>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</h4>
    <hr style="width:80%"/>
    <h4>@Html.ActionLink("Engineer List", "Index")</h4>
    <h4>@Html.ActionLink("Machine List", "Index", "Machines")</h4>
    <h4>@Html.ActionLink("Home Page", "Index", "Home")</h4>
</div>