@{
    Layout = "_Layout";
}
@using Factory.Models;

<div class="jumbotron">
    <h1>Dr. Sillystrings's Factory</h1>
    <h2>Engineers and Machines Log</h2>
    <h3>Click on Engineer's Name or Machine Name to View Details</h3>
    <hr />
    <h4>@Html.ActionLink("Add New Engineer", "Create", "Engineers")</h4>
    <h4>@Html.ActionLink("Add New Machine", "Create", "Machines")</h4>
</div>
<div class="engineer">
    <ul>
        <h2>Current Engineers</h2>
        <hr style="width:80%">
        @foreach (Engineer engineer in @Model["engineers"])
        {
            <li>@Html.ActionLink($"{engineer.EngineerName}", "Details", "Engineers", new { id = engineer.EngineerId })
            </li>
        }
    </ul>
</div>
<div class="machine">
    <ul>

        <h2>Current Machines</h2>
        <hr style="width:80%">
        @foreach (Machine machine in @Model["machines"])
        {
            <li>@Html.ActionLink($"{machine.MachineName}", "Details", "Machines", new { id = machine.MachineId })</li>
        }
    </ul>
</div>